﻿@{
    ViewData["Title"] = "Password Reset";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
<div id="passwordField">
    <p id="errorMessage" style="color:red"></p>
    <p>Person Nummer: </p><input type="text" id="identity" /> <br />
    <p>New Password: </p><input type="password" id="pswdField1" /> <br />
    <p>Verify Password: </p><input type="password" id="pswdField2" /> <br />
    <input type="button" value="Omstill Passord" id="btnResetPassword" />
</div>